@import "lib/_colors";
@import "lib/_mixins";
/*  <!-- RESPONSIVE
============================================ --> */
/* здесь мы пишем медиа запросы*/

/* width start*/
$w1200: 1200px;
$w992: 992px;
$w768: 768px;
$w576: 576px;
$w480: 480px;
/* width end*/


/* =============================================================================*/


/* <!-- minw start
	============================================ --> */


	@media only screen and (min-width:$w768){
		#primary_nav .header_authorize,
		.js-btn-menu {
			display: none;
		}

	}/* <!-- min-width: #{$w768} --> */


/* <!-- minw end
	============================================ --> */




/* <!-- maxw start
	============================================ --> */


	@media only screen and (max-width:$w1200 - 1px){
		.container{
			max-width: 940px;
		}

		#menu li:not(:last-child) {
			margin-right: 35px;
		}

		#menu li a {
			font-size: 16px;
		}

		.header_authorize {
			font-size: 16px;
		}
		.first_screen{
			-webkit-background-size: 85%;
			        background-size: 85%;
		}
		.first_screen_text {
			margin-left: 0;
		}
		.statistics_list {
			padding: 14px 50px;
			margin-top: -205px;
		}
		.statistics_title {
			font-size: 70px;
			span{
				font-size: 16px;
			}
		}
		h2{
			font-size: 45px;
		}
		h4{
			font-size: 30px;
		}
		.section_article h2,
		.about_title {
			margin-bottom: 40px;
		}
		.accordion-item p {
			font-size: 14px;
		}
		.indent_box_4 {
    		padding-bottom: 70px !important;
		}


		.packet_list {
    		margin-bottom: 40px;
		}

		.indent_box_3 {
    		padding-top: 50px;
    		padding-bottom: 50px;
		}

		.section_packet_left {
    		max-width: 290px;
    	}
    	.section_packet_right{
            max-width: 595px;

			.packet_ticket:not(:last-child) {
				margin-right: 15px;
			}
        }

		.packet_months_price {
    		font-size: 50px;
    		padding: 10px 20px;
		}
		.section_form{
			height: auto;
		}
		.form_box {
		    width: 505px;
		    padding: 50px 35px;
		    margin: -40px 0;
		}

		.article_item figcaption {
			padding: 17px 15px 28px 15px;
		}

		.footer_left {
			padding-right: 50px;
		}

		.footer_logo ,
		.social_link {
    		margin-bottom: 20px;
		}

		.footer_info {
			font-size: 12px;
		}


		.footer_copyright {
			font-size: 12px;
		}

		.footer_info div:first-child {
			padding-top: 3px;
			max-width: 203px;
			margin-right: 25px;
		}

		.footer_tel {
			margin-top: 3px;
			font-size: 17px;
		}

	}/* <!-- max-width: #{$w1200 - 1px} --> */


	@media only screen and (max-width:$w992 - 1px) {
		.container{
			max-width: 720px;
		}

		.header_container {
			padding-top: 55px;
		}

		#menu li:not(:last-child) {
			margin-right: 20px;
		}

		#menu li a {
			font-size: 14px;
		}

		.header_authorize {
			font-size: 14px;
		}

		.first_screen {
			padding-top: 135px;
			padding-bottom: 320px;
    		min-height: inherit;
		}
		.first_screen_title {
			font-size: 40px;
			margin-bottom: 40px;

			span {
				font-size: 30px;
			}
		}
		[class*="btn_"],
		.btn_size2 {
		    padding: 15px 30px;
		}

		h2 {
			font-size: 40px;
		}
		.statistics_title {
			font-size: 55px;
		}

		[class*="indent_box"] {
			padding-top: 150px;
			padding-bottom: 40px;
		}

		.statistics_list {
			margin-bottom: 40px;
			padding: 14px 25px;
		}

		.accordion-icon {
			top: 10px;
			left: 45px;
			-webkit-transform: scale(0.7);
			    -ms-transform: scale(0.7);
			        transform: scale(0.7);
		}

		.accordion-title {
			font-size: 16px;
		}
		.accordion-item {
	    	padding-left: 165px;
	    }

		.accordion-item p {
			font-size: 12px;
		}

		.indent_box_2 ,
		.indent_box_3,
		.indent_box_4 {
			padding-top: 50px;
			padding-bottom: 50px;
		}

		.packet_list li:not(:last-child) {
			margin-bottom: 5px;
		}

		.packet_list {
			margin-bottom: 30px;
		}

		.packet_ticket_title {
			font-size: 27px;
		}

		.packet_ticket_list li:not(:last-child) {
			margin-bottom: 15px;
			font-size: 14px;
		}


		.article_item figcaption {
			padding: 15px 10px 10px 10px;
		}
		.article_date-see,
		.article_title {
			font-size: 14px;
		}
		.article_date-see{
			margin-bottom: 15px;
		}

		.form_box {
			width: 404px;
			padding: 30px 15px;
		}

		h3{
			font-size: 30px;
		}
		.form_subtitle{
			font-size: 16px;
		}

		.footer_left {
			padding-right: 30px;
		}

		.section_packet .container,
		.footer_info {
    		-webkit-flex-direction: column;
    		    -ms-flex-direction: column;
    		        -webkit-box-orient: vertical;
    		        -webkit-box-direction: normal;
    		        flex-direction: column;
		}
		.footer_info div:first-child,
		.footer_info div:last-child{
			max-width: 100%;
			margin-right: 0;
		}
		.footer_info div:first-child{
			margin-bottom: 10px;
		}
		.section_packet_left,
		.section_packet_right{
			max-width: 100%;
			margin-right: 0;
		}
		.section_packet_left{
			margin-bottom: 30px;
		}
		.packet_list li span{
			display: block;
		}


	}/* <!-- max-width: #{$w992 - 1px} --> */


	@media only screen and (max-width:$w768 - 1px) {
		.container {
		    max-width: 560px;
		}
	    #header.sticky .header_container {
		    padding-top: 5px;
		    padding-bottom: 5px;
		}
		.header_container {
		    padding-top: 10px;

		}
		#menu {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
		}

		.card_partaker {
			display: block;
			margin: auto;
		}
		#primary_nav{
			display: none;
			position: absolute;
			top: 100%;
			right: 15px;
			padding: 20px;
			background-color: color('white');
			-webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
			box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);

			.header_authorize{
				display: inline-block;
			}
		}
		#menu {
			margin-bottom: 20px;
			li:not(:last-child){
				margin-right: 0;
				margin-bottom: 10px;
			}
		}

		.header_container .header_authorize {
			display: none;
		}

		.js-btn-menu {
			position: relative;
			z-index: 9;
			width: 45px;
			height: 45px;
			padding: 20px 5px;

			& span{
				position: relative;
				height: 4px;
				display: block;
				background-color: color('green');
				-webkit-transition: all ease 0.5s;
				-o-transition: all ease 0.5s;
				transition: all ease 0.5s;

				&:before,
				&:after{
					content: '';
					position: absolute;
					top: -10px;
					left: 0;
					height: 4px;
					width: 100%;
					display: block;
					background-color: color('green');
					-webkit-transition: all ease 0.5s;
					-o-transition: all ease 0.5s;
					transition: all ease 0.5s;
				}
				&:after{
					top:auto;
					bottom: -10px;
				}
			}

			&.active{

				span{
					background-color: transparent;

					&:before{
						top: 0;
						-ms-transform: rotate(45deg);
						    transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						-o-transform: rotate(45deg);
					}
					&:after{
						bottom: 0;
						-ms-transform: rotate(-45deg);
						    transform: rotate(-45deg);
						-webkit-transform: rotate(-45deg);
						-moz-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
					}
				}
			}
		}

		.btn_size2 {
		    padding: 12px 25px;
		}
		.first_screen {
			padding-top: 80px;
		    -webkit-background-size: auto 85%;
		    background-size: auto 85%;
		    background-position: center bottom;
		}
		.first_screen_text{
			text-align: center;
		}

		.first_screen_title {
			font-size: 35px;
			margin-bottom: 25px;
		}

		.statistics_title {
			font-size: 44px;
			span {
			    font-size: 12px;
			}
		}
		.footer_left,
		.statistics_subtitle {
			font-size: 12px;
		}
		h2{
			font-size: 28px;
		}
		.section_article h2,
		.about_title {
			margin-bottom: 20px;
		}

		.accordion-title {
			padding-right: 0;

			&:after{
				right: -30px;
			}
		}
		.accordion-item{
			padding: 15px 50px 15px 110px;
			min-height: 100px;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		.accordion-icon {
		    left: 15px;
		    top: 0;
		    -webkit-transform: scale(0.6);
		    -ms-transform: scale(0.6);
		    transform: scale(0.6);
		}

		.indent_box_2, .indent_box_3, .indent_box_4{
			padding-top: 30px;
			padding-bottom: 30px;
		}

		.packet_subtitle {
			font-size: 16px;
		}
		.packet_list {
			font-size: 14px;
		}


		.packet_months_list li {
			font-size: 12px;
			padding: 10.5px 5px;
		}

		.packet_ticket_title {
			font-size: 22px;
		}

		.packet_months_price {
			padding: 5px 20px;
		}
		.packet_ticket_list {
			padding: 12px 20px 20px;

			li {
				font-size: 12px;


				&:not(:last-child) {
					margin-bottom: 10px;
					font-size: 12px;
				}
			}
		}


		.article_box {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-align-items: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			margin: 0 0 30px;
		}
		.article_img{
			max-height: 100%;
		}

		.article_box > * {
			width: 100%;
			margin: 0;
		}

		.article_item {
			&:not(:last-child){
				margin-bottom: 25px;
			}
		}

		h3 {
			font-size: 25px;
		}

		.form_subtitle {
			font-size: 15px;
			margin-bottom: 14px;
		}

		.form_button button.btn_green_invert {
			font-size: 12px;
			padding: 12px 33px;
			min-width: 161px;
		}


		.footer_container {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
		}

		.footer_left {
			text-align: center;
			padding-right: 0;
			margin-bottom: 15px;
		}

		.footer_right {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			text-align: center;
		}

		.footer_info div:first-child {
			margin-right: 0;
		}

		.social_link {
			-webkit-align-self: center;
			    -ms-flex-item-align: center;
			        align-self: center;
		}


	}/* <!-- max-width: #{$w768 - 1px} --> */


	@media only screen and (max-width:$w576 - 1px) {
		.first_screen_text{
			text-align: center;
		}
		.first_screen_title {
			font-size: 30px;

			span {
			    font-size: 24px;
			}
		}
		.statistics_title {
		    font-size: 30px;
		    span {
			    font-size: 10px;
			}
		}
		.statistics_list {
		    margin-bottom: 25px;
		    padding: 14px 4px;
		}
		.accordion-title {
		    font-size: 13px;

		    &:after {
			    right: -38px;
			}
		}
		.accordion-icon {
		    left: -12px;
		    -webkit-transform: scale(0.4);
		    -ms-transform: scale(0.4);
		    transform: scale(0.4);
		}
		.accordion-item {
		    padding: 15px 35px 15px 60px;
		    min-height: 75px;
		}
		.accordion-title:after {
		    right: -27px;
		    width: 18px;
		    height: 11px;
		    -webkit-background-size: contain;
		            background-size: contain;
		}
		[class*="btn_"]{
			font-size: 13px;
		}
		.js-slider {
			padding: 0 30px;

			.owl-item {
		    	padding: 10px 0;
		    }
			button.owl-dot:not(:last-child){
				margin-right: 10px;
			}
		}
		.section_packet_right{
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        -webkit-box-orient: vertical;
			        -webkit-box-direction: normal;
			        flex-direction: column;
		    .packet_ticket{
		    	width: 100%;
		    	&:not(:last-child){
			    	margin-right: 0;
			    	margin-bottom: 15px;
			    }
		    }
		}
		.section_packet_left{
			text-align: center;
		}
		.back_to_top {
			bottom: 50px;
			right: 5px;
			width: 35px;
			height: 35px;
		}
	}/* <!-- max-width: #{$w576 - 1px} --> */


	@media only screen and (max-width:$w480 - 1px) {

		.first_screen_title {
		    font-size: 28px;
		    span {
			    font-size: 22px;
			}
		}
	}/* <!-- max-width: #{$w480 - 1px} --> */


/* <!-- maxw end
	============================================ --> */



