/*====>>  Stylesheet Guide START  <<====*/
/*<<=========================================>>

        1. IMPORT Plugins and other CSS files
        2. DEFAULT Stylesheets
        3. BASIC classes
            3.1.      Float:;
            3.2.      Text-align:;
            3.3.      INDENTS Zero
            3.4.      Position :;
            3.5.      Clearfix
            3.6.      Dispay:;
            3.7.      LINKS
            3.8.      TITLES
            3.9.      FONTS
            3.10.     TEXTAFIELD
            3.11.     PRELOADER
            3.12.     COLORS
        4. HEADER
        5. CONTENT
        6. FOOTER 
        
        <<=========================================>>*/
/*====>>  Stylesheet Guide END    <<====*/
/*  <!-- 1. IMPORT Plugins and other CSS files 
============================================ --> */
/*  <!-- 2. DEFAULT Stylesheets 
============================================ --> */
html, body {
  width: 100%;
  height: 100%;
}

.page_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #303030;
  background: #fff;
  min-width: 320px;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* when you select text is added to a custom style  */
::-moz-selection {
  color: #fff;
  background-color: #419175;
}

::selection {
  color: #fff;
  background-color: #419175;
}

::-moz-selection {
  color: #fff;
  background-color: #419175;
}

/* !!! */
/* custom style to scroll (only in chrome) */
::-webkit-scrollbar {
  background: #e2e2e2;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #419175;
}

/* !!! */
/*  <!-- 3. BASIC classes
============================================ --> */
/*==========>>  3.1.      Float:;   <<==========*/
.f_left {
  float: left;
}

.f_right {
  float: right;
}

.f_none {
  float: none;
}

/*==========>>  3.2.      Text-align:;   <<==========*/
.al_left {
  text-align: left;
}

.al_right {
  text-align: right;
}

.al_center {
  text-align: center;
}

.al_justify {
  text-align: justify;
}

/*==========>>  3.3.      INDENTS Zero   <<==========*/
.m_t_zero {
  margin-top: 0 !important;
}

.m_b_zero {
  margin-bottom: 0 !important;
}

.m_r_zero {
  margin-right: 0 !important;
}

.m_l_zero {
  margin-left: 0 !important;
}

.p_t_zero {
  padding-top: 0 !important;
}

.p_b_zero {
  padding-bottom: 0 !important;
}

.p_r_zero {
  padding-right: 0 !important;
}

.p_l_zero {
  padding-left: 0 !important;
}

/*==========>>  3.4.      Position :;   <<==========*/
.p_abs {
  position: absolute;
}

.p_rel {
  position: relative;
}

.p_fix {
  position: fixed;
}

.p_static {
  position: static;
}

.full_abs {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 99;
}

.z-i9 {
  z-index: 9;
}

/*==========>>  3.5.      Clearfix   <<==========*/
.clear {
  clear: both;
  width: 100%;
  line-height: 0;
  font-size: 0;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.wrapper {
  overflow: hidden;
}

/*==========>>  3.6.      Dispay:;   <<==========*/
.d_block {
  display: block;
}

.d_ib {
  display: inline-block;
}

.d_none {
  display: none;
}

.d_t {
  display: table;
}

.d_row {
  display: table-row;
}

.d_tc {
  display: table-cell;
}

.d_f {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.d_if {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/*  align-items  ==========>>*/
/* justify-content: center*/
.jc-center {
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* justify-content: flex-start*/
.jc-start {
  -webkit-justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

/* justify-content: flex-end*/
.jc-end {
  -webkit-justify-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/* justify-content: space-between*/
.justify-content-between,
.jc-between {
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* justify-content: space-around*/
.jc-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* justify-content: space-evenly*/
.jc-around {
  -webkit-justify-content: space-evenly;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

/*  align-items  ==========>>*/
/* align-items: flex-start*/
.al-it-start {
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/* align-items: flex-end*/
.al-it-end {
  -webkit-align-items: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

/* align-items: center*/
.align-items-center,
.al-it-center {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* align-items: baseline*/
.al-it-baseline {
  -webkit-align-items: baseline;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

/* align-items: stretch*/
.al-it-stretch {
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

/*  align-self  ==========>>*/
/* align-self: auto*/
.al-s-auto {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

/* align-self: flex-start*/
.al-s-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

/* align-self: flex-end*/
.al-s-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

/* align-self: center*/
.al-s-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

/* align-self: baseline*/
.al-s-baseline {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

/* align-self: stretch*/
.al-s-stretch {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

/*  align-content  ==========>>*/
/* align-content: flex-start*/
.al-c-start {
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

/* align-content: flex-end*/
.al-c-end {
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

/* align-content: center*/
.al-c-center {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

/* align-content: space-between*/
.al-c-between {
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

/* align-content: space-around*/
.al-c-around {
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

/* align-content: stretch*/
.al-c-stretch {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

/*==========>>  3.7.      LINKS   <<==========*/
* a,
* button {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

* a:hover,
  * button:hover {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

a {
  color: inherit;
}

a:not([class*="btn_"]):not([class]):hover {
  color: #419175;
}

[data-popup] {
  cursor: pointer;
}

[class*="btn_"] {
  padding: 19px 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid;
  text-align: center;
}

.btn_shadow {
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.36);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.36);
}

.btn_shadow2 {
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.btn_size {
  min-width: 283px;
}

.btn_size2 {
  padding: 19px 45px;
}

.btn_green {
  background-color: #419175;
  color: #fff;
  border-color: #419175;
}

.btn_green:hover {
  border-color: #419175;
  color: #419175;
  background-color: #fff;
}

.btn_green_invert {
  background-color: transparent;
  color: #419175;
}

.btn_green_invert:hover {
  background-color: #419175;
  border-color: #419175;
  color: #fff;
}

.btn_white {
  background-color: #fff;
  color: #419175;
  border-color: #fff;
}

.btn_white:hover {
  background-color: transparent;
  color: #fff;
}

/*==========>>  3.8.     TITLES   <<==========*/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 52px;
  font-weight: 700;
}

h1 {
  font-size: 86px;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 37px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

/*==========>>  3.9.     FONTS   <<==========*/
[class*="roboto"] {
  font-family: 'Roboto', sans-serif;
}

.roboto_reg {
  font-weight: 400;
}

.roboto_md {
  font-weight: 500;
}

.roboto_bd {
  font-weight: 700;
}

.roboto_bl {
  font-weight: 900;
}

/*==========>>  3.10.     TEXTAFIELD   <<==========*/
/*===  input  ===*/
.error_message {
  color: red;
  position: absolute;
  top: 100%;
  left: 0;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

/*==========>>  3.11.     PRELOADER   <<==========*/
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #419175;
  z-index: 100500;
}

#page-preloader .preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35px;
  height: 35px;
  margin-top: -17.5px;
  margin-left: -17.5px;
  display: inline-block;
  padding: 0px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid;
  border-top-color: rgba(0, 0, 0, 0.65);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-left-color: rgba(0, 0, 0, 0.65);
  border-right-color: rgba(0, 0, 0, 0.15);
  -webkit-animation: preloader 0.8s linear infinite;
  animation: preloader 0.8s linear infinite;
}

@keyframes preloader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

/*==========>>  3.12.     COLORS   <<==========*/
.color_green {
  color: #419175;
}

.bg_green-lite {
  background-color: #f6fcfc;
}

.bg_green {
  background-color: #419175;
}

/*  <!-- 4. HEADER 
============================================ --> */
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

#header.sticky {
  position: fixed;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

#header.sticky .header_container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header_container {
  padding-top: 73px;
}

.header_container .container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.logo > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 30px;
  line-height: 1.15;
  letter-spacing: 2px;
  color: #419175;
}

.logo > a > img {
  max-width: 100%;
  max-height: 100%;
}

#menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#menu li:not(:last-child) {
  margin-right: 55px;
}

#menu li.current a {
  color: #303030;
  border-color: #419175;
}

#menu li a {
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 1.15;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  color: #303030;
}

#menu li a:hover {
  color: #303030;
  border-color: #419175;
}

.header_authorize {
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 1.15;
  font-weight: 700;
  color: #419175;
}

/*  <!-- 5. CONTENT 
============================================ --> */
#content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

[class*="indent_box"] {
  padding-top: 135px;
  padding-bottom: 72px;
}

.indent_box_2 {
  padding-top: 70px;
  padding-bottom: 79px;
}

.indent_box_3 {
  padding-top: 84px;
  padding-bottom: 106px;
}

.indent_box_4 {
  padding-top: 70px;
  padding-bottom: 174px;
}

.something_container {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* - - - - - - - - - - first screen - - - - - - - - - - */
.first_screen {
  padding-top: 224px;
  padding-bottom: 50px;
  min-height: 758px;
  background-position: right bottom;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

.first_screen_text {
  max-width: 561px;
  margin-left: 100px;
}

.first_screen_title {
  font-size: 46px;
}

.first_screen_title span {
  font-size: 40px;
}

/* - - - - - - - - - -/ end of first screen - - - - - - - - - - */
/* - - - - - - - - - - section_about - - - - - - - - - - */
.statistics_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 14px 80px 33px;
  max-width: 968px;
  width: 100%;
  margin: -222px auto 73px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  color: #419175;
}

.statistics_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 86px;
  margin-bottom: 12px;
}

.statistics_title span {
  font-size: 20px;
  text-transform: uppercase;
}

.statistics_subtitle {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  text-align: center;
}

.about_title {
  margin-bottom: 57px;
}

.accordion-box {
  margin-bottom: 54px;
}

.accordion-item {
  position: relative;
  padding: 30px 59px 31px 206px;
  width: 770px;
  min-height: 122px;
  max-width: 100%;
  margin: 0 auto;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.accordion-item:not(:last-child) {
  margin-bottom: 30px;
}

.accordion-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  height: 0;
  background-color: #FFF;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.accordion-item:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity ease 0s;
  -o-transition: opacity ease 0s;
  transition: opacity ease 0s;
}

.accordion-item.active {
  padding-top: 26px;
  padding-bottom: 37px;
}

.accordion-item.active:before {
  bottom: 0;
  height: 100%;
}

.accordion-item.active:after {
  opacity: 1;
  -webkit-transition: opacity ease 2s;
  -o-transition: opacity ease 2s;
  transition: opacity ease 2s;
}

.accordion-item.active .accordion-title {
  margin-bottom: 14px;
}

.accordion-item.active .accordion-title:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion-item p {
  position: relative;
  z-index: 1;
  display: none;
  font-size: 16px;
  line-height: 1.81;
}

.accordion-icon {
  position: absolute;
  left: 65px;
  top: 26px;
}

.accordion-title {
  position: relative;
  z-index: 1;
  padding-right: 125px;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.accordion-title:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 26px;
  height: 15px;
  margin-top: -7.5px;
  background: url(../images/icons/arrow_down.svg) 0 0 no-repeat;
}

/* - - - - - - - - - -/ end of section_about - - - - - - - - - - */
/* - - - - - - - - - - section_partaker - - - - - - - - - - */
.js-slider {
  padding: 0 80px;
}

.js-slider .owl-item {
  padding: 10px 21px;
}

.js-slider .owl-nav .owl-prev,
  .js-slider .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-webkit-calc(-50% - 26px));
  -ms-transform: translateY(calc(-50% - 26px));
  transform: translateY(calc(-50% - 26px));
}

.js-slider .owl-nav .owl-prev span,
    .js-slider .owl-nav .owl-next span {
  width: 33px;
  height: 29px;
  font-size: 0;
  background: url(../images/icons/next-normal.svg) center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.js-slider .owl-nav .owl-prev {
  left: 0;
}

.js-slider .owl-nav .owl-prev span {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.js-slider .owl-nav .owl-next {
  right: 0;
}

.js-slider .owl-dots {
  margin-top: 26px;
  text-align: center;
  line-height: 0;
}

.js-slider button.owl-dot {
  width: 16px;
  height: 16px;
  background-color: rgba(216, 216, 216, 0);
  border: solid 2px #419175;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.js-slider button.owl-dot.active {
  background-color: #419175;
}

.js-slider button.owl-dot:not(:last-child) {
  margin-right: 26px;
}

.card_partaker {
  display: inline-block;
  /* height: 334px;*/
  width: 211px;
  /* margin: 10px;*/
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.card_partaker_img {
  height: 272px;
  overflow: hidden;
}

.card_partaker_img img {
  max-height: 100%;
}

.card_partaker_description {
  padding: 15px 22px;
  min-height: 62px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card_partaker_description a {
  font-size: 14px;
  font-weight: 700;
}

.card_partaker_description a img {
  width: auto !important;
  display: inline-block !important;
  margin-right: 11px;
  vertical-align: baseline;
}

/* - - - - - - - - - -/ end of section_partaker - - - - - - - - - - */
/* - - - - - - - - - - section_packet - - - - - - - - - - */
.section_packet .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section_packet_left {
  max-width: 316px;
  margin-right: 25px;
  color: #f6fcfc;
}

.packet_title {
  margin-bottom: 26px;
  color: #fff;
}

.packet_subtitle {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.61;
  text-decoration: underline;
}

.packet_list {
  /* margin-bottom: 54px;*/
  margin-bottom: 74px;
  line-height: 1.25;
}

.packet_list li:not(:last-child) {
  margin-bottom: 20px;
}

.packet_list li span {
  font-size: 12px;
  line-height: 1.67;
}

.section_packet_right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 767px;
}

.section_packet_right .packet_ticket:not(:last-child) {
  margin-right: 33px;
}

.js-tabs-list li {
  cursor: pointer;
}

.js-tabs-box > div {
  display: none;
}

.packet_ticket {
  padding-top: 28px;
  /* width: 367px;*/
  width: 50%;
  /* height: 455px;*/
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgba(65, 145, 117, 0.12);
  box-shadow: 0 0 15px 0 rgba(65, 145, 117, 0.12);
}

.packet_ticket_title {
  margin-bottom: 23px;
}

.packet_months_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6fcfc;
}

.packet_months_list li {
  width: 33.3%;
  padding: 10.5px 10px;
  font-size: 14px;
  color: #919699;
}

.packet_months_list li.active {
  font-weight: 700;
  background-color: #4a4a4a;
  color: #fff;
}

.packet_months_price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 17.5px 20px;
  font-size: 64px;
  font-weight: 700;
}

.packet_months_price > span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 20px;
  text-align: left;
  padding: 6px 0 12px;
}

.packet_ticket_list {
  padding: 31px 54px 49px;
  text-align: left;
  border-top: solid 1px rgba(65, 145, 117, 0.1);
}

.packet_ticket_list li {
  position: relative;
  padding-left: 23px;
}

.packet_ticket_list li:not(:last-child) {
  margin-bottom: 25px;
}

.packet_ticket_list li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #419175;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

/* - - - - - - - - - -/ end of section_packet - - - - - - - - - - */
/* - - - - - - - - - - section_article - - - - - - - - - - */
.article_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px 53px;
}

.article_box > * {
  width: -webkit-calc(33.3% - 26px);
  width: calc(33.3% - 26px);
  margin: 0 10px;
}

.article_item {
  /* height: 414px;*/
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.article_item figcaption {
  padding: 26px 43px 28px 40px;
}

.article_img {
  display: block;
  max-height: 239px;
  text-align: center;
  overflow: hidden;
}

.article_img img {
  width: 100%;
  max-height: 100%;
}

.article_title {
  margin-bottom: 19px;
}

.article_date-see {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 26px;
  font-size: 14px;
  color: rgba(48, 48, 48, 0.6);
}

.eye_watch:hover {
  color: #419175;
}

.eye_watch img {
  margin-right: 8px;
  vertical-align: middle;
}

/* - - - - - - - - - -/ end of section_article - - - - - - - - - - */
/* - - - - - - - - - - section_form - - - - - - - - - - */
.section_form {
  height: 447px;
  background: url(../images/16437481572-351-e-899980-o@2x.jpg) 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.section_form .container {
  text-align: center;
}

.form_box {
  position: relative;
  z-index: 5;
  width: 594px;
  max-width: 100%;
  margin-top: -79px;
  margin-bottom: -94px;
  padding: 51px 82px 49px;
  display: inline-block;
  text-align: left;
  /* height: 620px;*/
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.form_title {
  margin-bottom: 19px;
  text-align: center;
}

.form_subtitle {
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 1.5;
}

.form_row {
  margin-bottom: 19px;
}

.form_checkbox {
  margin-bottom: 26px;
}

.form_button {
  margin-bottom: 0;
}

.form_button a.btn_green_invert,
  .form_button button.btn_green_invert {
  font-size: 14px;
  line-height: 1.2;
  padding: 18px 40px;
  min-width: 198px;
}

.form_input {
  padding: 5px 24px;
  width: 100%;
  height: 46px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.2;
  color: #919699;
  background-color: #fff;
  border: solid 2px rgba(65, 145, 117, 0.53);
}

.form_textarea {
  padding: 15px 24px;
  width: 100%;
  height: 114px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.2;
  color: #919699;
  background-color: #fff;
  border: solid 2px rgba(65, 145, 117, 0.53);
  resize: none;
}

.form_input_checkbox,
input[type="checkbox"] {
  display: none;
}

.form_label_checkbox {
  position: relative;
  display: inline-block;
  padding: 4.5px 0;
  margin-left: 39px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.8px;
  cursor: pointer;
}

.form_label_checkbox:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -39px;
  width: 19px;
  height: 19px;
  border: solid 2px #419175;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.form_label_checkbox:after {
  content: "";
  position: absolute;
  top: 6px;
  left: -34px;
  width: 15px;
  height: 11px;
  background: url(../images/icons/checkbox_icon.svg) 0 0 no-repeat;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.form_label_checkbox a {
  font-weight: 700;
  letter-spacing: 0.6px;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:checked + .form_label_checkbox:before {
  background-color: #419175;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:checked + .form_label_checkbox:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

/* - - - - - - - - - -/ end of section_form - - - - - - - - - - */
/*  <!-- 6. FOOTER 
============================================ --> */
#footer {
  padding-top: 59px;
  padding-bottom: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #4a4a4a;
}

.footer_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 18px;
}

.footer_left {
  max-width: 512px;
  font-size: 14px;
  line-height: 1.79;
  color: #ffffff;
}

.footer_logo {
  display: inline-block;
  margin-bottom: 34px;
}

.footer_logo > a {
  color: #FFF;
}

.footer_right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.social_link {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-bottom: 42px;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1.2px;
  color: #ffffff;
}

.social_link:hover {
  color: #419175;
}

.social_link img {
  vertical-align: middle;
  margin-right: 16px;
}

.footer_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: #ffffff;
}

.footer_info div:first-child {
  padding-top: 3px;
  max-width: 203px;
  margin-right: 100px;
}

.footer_info div:last-child {
  max-width: 197px;
  line-height: 1.86;
}

.footer_tel {
  margin-top: 3px;
  font-size: 20px;
  line-height: 1.65;
  font-weight: 700;
}

.footer_tel:hover {
  color: #419175;
}

.footer_copyright {
  font-size: 14px;
  font-weight: 500;
  line-height: 2.79;
  text-align: center;
  color: #ffffff;
}
