$default: #303030;
$color-white:   #fff;
$color-black: #000;
$color-green:   #419175;
$color-green-lite:   #f6fcfc;
$color-brown: #4a4a4a;

$colors: (
  'default' : $default,
  'white' : $color-white,
  'black' : $color-black,
  'green' : $color-green,
  'green-lite' : $color-green-lite,
  'brown': $color-brown
);


@function color($key) {
  @if map-has-key($colors, $key) {
    $key: map-get($colors, $key);
    @return color($key);
  }

  @return $key;
}
