    #content {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
    }
        [class*="indent_box"]{
            padding-top: 135px;
            padding-bottom: 72px;
            
        }
        .indent_box_2{
            padding-top: 70px;
            padding-bottom: 79px;
        }
        .indent_box_3{
            padding-top: 84px;
            padding-bottom: 106px;
        }
        .indent_box_4{
            padding-top: 70px;
            padding-bottom: 174px;
        }
        .something_container{
            @include transition(all, 1s, ease);

        }

        /* - - - - - - - - - - first screen - - - - - - - - - - */
            .first_screen{
                padding-top: 224px;
                padding-bottom: 50px;
                min-height: 758px;
                background-position: right bottom;
                -webkit-background-size: contain;
                        background-size: contain;
                background-repeat: no-repeat;
            }
                .first_screen_text{
                    max-width: 561px;
                    margin-left: 100px;
                }
                    .first_screen_title{
                        font-size: 46px;
                        
                        span{
                            font-size: 40px;
                        }
                    }
        /* - - - - - - - - - -/ end of first screen - - - - - - - - - - */
        
        /* - - - - - - - - - - section_about - - - - - - - - - - */
            .section_about{
                
            }
                .statistics_list{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-justify-content: space-between;
                            -webkit-box-pack: justify;
                                -ms-flex-pack: justify;
                            justify-content: space-between;
                    padding: 14px 80px 33px;
                    max-width: 968px;
                    width: 100%;
                    margin: -222px auto 73px;
                    -webkit-border-radius: 7px;
                            border-radius: 7px;
                    background-color: #ffffff;
                    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
                            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
                    color: color('green');
                    
                    li{
                        
                    }
                }
                    .statistics_title{
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-align-items: flex-end;
                                -webkit-box-align: end;
                                    -ms-flex-align: end;
                                align-items: flex-end;
                        -webkit-justify-content: center;
                                -webkit-box-pack: center;
                                    -ms-flex-pack: center;
                                justify-content: center;
                        font-size: 86px;
                        margin-bottom: 12px;
                        
                        span{
                            font-size: 20px;
                            text-transform: uppercase;
                        }
                    }
                    .statistics_subtitle{
                        margin-bottom: 0;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1.29;
                        text-align: center;
                    }

                .about_title{
                    margin-bottom: 57px;
                }

                .accordion-box{
                    margin-bottom: 54px;
                }
                    .accordion-item{
                        position: relative;
                        padding: 30px 59px 31px 206px;
                        width: 770px;
                        min-height: 122px;
                        max-width: 100%;
                        margin: 0 auto;
                        -webkit-transition: all ease 0.5s;
                             -o-transition: all ease 0.5s;
                                transition: all ease 0.5s;
                        
                        &:not(:last-child){
                            margin-bottom: 30px;
                        }
                        &:before{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            z-index: 0;
                            height: 0;
                            background-color: #FFF;
                            -webkit-transition: all ease 0.5s;
                                 -o-transition: all ease 0.5s;
                                    transition: all ease 0.5s;
                        }
                        &:after{
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;  
                            z-index: 0;
                            opacity: 0;
                            -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
                                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
                            -webkit-transition: opacity ease 0s;
                                 -o-transition: opacity ease 0s;
                                    transition: opacity ease 0s;
                        }
                        &.active{
                            padding-top: 26px;
                            padding-bottom: 37px;
                            
                            &:before{
                                bottom: 0;
                                height: 100%;
                            }
                            &:after{
                                opacity: 1;
                                -webkit-transition: opacity ease 2s;
                                     -o-transition: opacity ease 2s;
                                        transition: opacity ease 2s;
                            }

                            .accordion-title{
                                margin-bottom: 14px;
                                
                                &:after{
                                    -webkit-transform: rotate(180deg);
                                        -ms-transform: rotate(180deg);
                                            transform: rotate(180deg);
                                }
                            }
                        }

                        p{
                            position: relative;
                            z-index: 1;
                            display: none;
                            font-size: 16px;
                            line-height: 1.81;
                        }
                    }
                        .accordion-icon{
                            position: absolute;
                            left: 65px;
                            top: 26px;
                        }
                        .accordion-title{
                            position: relative;
                            z-index: 1;
                            padding-right: 125px;
                            margin-bottom: 0;
                            cursor: pointer;
                            -webkit-transition: all ease 0.5s;
                                 -o-transition: all ease 0.5s;
                                    transition: all ease 0.5s;
                            
                            &:after{
                                content: "";
                                position: absolute;
                                top: 50%;
                                right: 0;
                                width: 26px;
                                height: 15px;
                                margin-top: -7.5px;
                                background: url(../images/icons/arrow_down.svg) 0 0 no-repeat;
                            }
                        }
        /* - - - - - - - - - -/ end of section_about - - - - - - - - - - */
        
        /* - - - - - - - - - - section_partaker - - - - - - - - - - */
            .section_partaker{

            }    
                .js-slider{
                    padding: 0 80px;
                    
                    .owl-item{
                        padding: 10px 21px;
                    }
                    .owl-nav .owl-prev, 
                    .owl-nav .owl-next{
                        position: absolute;
                        top: 50%;    
                        -webkit-transform: translateY(-webkit-calc(-50% - 26px));
                            -ms-transform: translateY(calc(-50% - 26px));
                                transform: translateY(calc(-50% - 26px));
                        
                        span{
                            width: 33px;
                            height: 29px;
                            font-size: 0;
                            background: url(../images/icons/next-normal.svg) center center no-repeat;
                            -webkit-background-size: contain;
                                    background-size: contain;
                        }
                    }
                    .owl-nav .owl-prev{
                        left: 0;
                        
                        span{
                            -webkit-transform: rotate(-180deg);
                                -ms-transform: rotate(-180deg);
                                    transform: rotate(-180deg);
                        }
                    }
                    .owl-nav .owl-next{
                        right: 0;
                    }
                    .owl-dots{
                        margin-top: 26px;
                        text-align: center;
                        line-height: 0;
                    }
                    button.owl-dot{
                        width: 16px;
                        height: 16px;
                        background-color: rgba(216, 216, 216, 0);
                        border: solid 2px color('green');
                        -webkit-border-radius: 50%;
                                border-radius: 50%;
                        
                        &.active{
                            background-color: color('green');
                        }
                        &:not(:last-child){
                            margin-right: 26px;
                        }
                    }
                }
                .card_partaker{
                    display: inline-block;
                    /* height: 334px;*/
                    width: 211px;
                    /* margin: 10px;*/
                    background-color: #ffffff;
                    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
                            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
                }
                    .card_partaker_img{
                        height: 272px;
                        overflow: hidden;
                        
                        img{
                            max-height: 100%;
                        }
                    }
                    .card_partaker_description{
                        padding: 15px 22px;
                        min-height: 62px;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-align-items: center;
                                -webkit-box-align: center;
                                    -ms-flex-align: center;
                                align-items: center;
                        
                        a{
                            font-size: 14px;
                            font-weight: 700;
                            
                            img{
                                width: auto !important;
                                display: inline-block !important;
                                margin-right: 11px;
                                vertical-align: baseline;
                            }
                        }
                    }
        /* - - - - - - - - - -/ end of section_partaker - - - - - - - - - - */
        
        /* - - - - - - - - - - section_packet - - - - - - - - - - */
            .section_packet{
                
                .container{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-justify-content: space-between;
                            -webkit-box-pack: justify;
                                -ms-flex-pack: justify;
                            justify-content: space-between;
                }
            }
                .section_packet_left{
                    max-width: 316px;
                    margin-right: 25px;
                    color: #f6fcfc;
                }
                    .packet_title{
                        margin-bottom: 26px;
                        color: color('white');
                    }
                    .packet_subtitle{
                        margin-bottom: 15px;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 1.61;
                        text-decoration: underline;
                    }
                    .packet_list{
                        /* margin-bottom: 54px;*/
                        margin-bottom: 74px;
                        line-height: 1.25;
                        
                        li{
                            &:not(:last-child){
                                margin-bottom: 20px;
                            }
                            span{
                                font-size: 12px;
                                line-height: 1.67;                
                            }
                        }
                    }

                .section_packet_right{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    max-width: 767px;
                    
                    .packet_ticket{
                        &:not(:last-child){
                            margin-right: 33px;
                        }
                    }
                }
                    .js-tabs{
                        
                    }
                        .js-tabs-list{
                            li{
                                cursor: pointer;
                            }
                        }
                        .js-tabs-box{
                            >div{
                                display: none;
                            }
                        }

                    .packet_ticket{
                        padding-top: 28px;
                        /* width: 367px;*/
                        width: 50%;
                        /* height: 455px;*/
                        text-align: center;
                        background-color: #ffffff;
                        -webkit-box-shadow: 0 0 15px 0 rgba(65, 145, 117, 0.12);
                                box-shadow: 0 0 15px 0 rgba(65, 145, 117, 0.12);
                    }
                        .packet_ticket_title{
                            margin-bottom: 23px;
                        }
                        .packet_ticket_box{
                            
                        }
                            .packet_months_list{
                                display: -webkit-box;
                                display: -webkit-flex;
                                display: -ms-flexbox;
                                display: flex;
                                background-color: #f6fcfc;
                                
                                li{
                                    width: 33.3%;
                                    padding: 10.5px 10px;
                                    font-size: 14px;
                                    color: #919699;
                                    
                                    &.active{
                                        font-weight: 700;
                                        background-color: #4a4a4a;
                                        color:  color('white');
                                    }
                                }
                            }
                            .packet_months_price{
                                display: -webkit-box;
                                display: -webkit-flex;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-justify-content: center;
                                        -webkit-box-pack: center;
                                            -ms-flex-pack: center;
                                        justify-content: center;
                                padding: 17.5px 20px;
                                font-size: 64px;
                                font-weight: 700;
                                
                                &>span{
                                    display: -webkit-box;
                                    display: -webkit-flex;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-flex-direction: column;
                                        -ms-flex-direction: column;
                                            -webkit-box-orient: vertical;
                                            -webkit-box-direction: normal;
                                            flex-direction: column;
                                    -webkit-justify-content: space-between;
                                            -webkit-box-pack: justify;
                                                -ms-flex-pack: justify;
                                            justify-content: space-between;
                                    font-size: 20px;
                                    text-align: left;
                                    padding: 6px 0 12px;
                                }
                            }

                        .packet_ticket_list{
                            padding:  31px 54px 49px;
                            text-align: left;
                            border-top: solid 1px rgba(65, 145, 117, .1);
                            
                            li{
                                position: relative;
                                padding-left: 23px;
                                
                                &:not(:last-child){
                                    margin-bottom: 25px;
                                }
                                
                                &:before{
                                    content: "";
                                    position: absolute;
                                    top: 5px;
                                    left: 0;
                                    width: 8px;
                                    height: 8px;
                                    background-color: color('green');
                                    -webkit-border-radius: 50px;
                                            border-radius: 50px;
                                }
                            }
                        }
        /* - - - - - - - - - -/ end of section_packet - - - - - - - - - - */
        
        /* - - - - - - - - - - section_article - - - - - - - - - - */
            .section_article{
                
            }
                .article_box{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-justify-content: space-between;
                            -webkit-box-pack: justify;
                                -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-flex-wrap: wrap;
                        -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                    margin: 0 -10px 53px;
                    
                    &>*{
                        width: -webkit-calc(33.3% - 26px);
                        width: calc(33.3% - 26px);
                        margin: 0 10px;
                    }   
                }
                    .article_item{
                        /* height: 414px;*/
                        background-color: #ffffff;
                        -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
                                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
                        
                        figcaption{
                            padding: 26px 43px 28px 40px;
                        }
                    }
                        .article_img{
                            display: block;
                            max-height: 239px;
                            text-align: center;
                            overflow: hidden;
                            
                            img{
                                width: 100%;
                                max-height: 100%;
                            }
                        }
                            .article_title{
                                margin-bottom: 19px;
                            }
                            .article_date-see{
                                display: -webkit-box;
                                display: -webkit-flex;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-justify-content: space-between;
                                        -webkit-box-pack: justify;
                                            -ms-flex-pack: justify;
                                        justify-content: space-between;
                                -webkit-flex-wrap: wrap;
                                    -ms-flex-wrap: wrap;
                                        flex-wrap: wrap;
                                margin-bottom: 26px;
                                font-size: 14px;
                                color: rgba(48, 48, 48, .6);
                            }
                                .eye_watch {

                                    &:hover{
                                        color: #419175;
                                    }
                                  
                                    img{
                                        margin-right: 8px;
                                        vertical-align: middle;
                                    }   
                                }
        /* - - - - - - - - - -/ end of section_article - - - - - - - - - - */
        
        /* - - - - - - - - - - section_form - - - - - - - - - - */
            .section_form{
                height: 447px;
                background: url(../images/16437481572-351-e-899980-o@2x.jpg) 50% 50% no-repeat;
                -webkit-background-size: cover;
                        background-size: cover;
                .container{
                    text-align: center;
                }
            }
                .form_box{
                    position: relative;
                    z-index: 5;
                    width: 594px;
                    max-width: 100%;
                    margin-top: -79px;
                    margin-bottom: -94px;
                    padding: 51px 82px 49px;
                    display: inline-block;
                    text-align: left;
                    /* height: 620px;*/
                    background-color: #ffffff;
                    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
                            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
                }
                    .form_title{
                        margin-bottom: 19px;
                        text-align: center;
                    }
                    .form_subtitle{
                        margin-bottom: 26px;
                        font-size: 18px;
                        line-height: 1.5;
                    }
                    .form_row{
                        margin-bottom: 19px;
                    }
                    .form_checkbox{
                        margin-bottom: 26px;
                    }
                    .form_button{
                        margin-bottom: 0;
                        
                        a.btn_green_invert,
                        button.btn_green_invert{
                            font-size: 14px;
                            line-height: 1.2;
                            padding: 18px 40px;
                            min-width: 198px;
                        }
                    }
                        .form_input{
                            padding: 5px 24px;
                            width: 100%;
                            height: 46px;
                            font-family: 'Roboto', sans-serif;
                            font-size: 12px;
                            line-height: 1.2;
                            color: #919699;
                            background-color: color('white');
                            border: solid 2px rgba(65, 145, 117, 0.53);
                        }
                        .form_textarea{
                            padding: 15px 24px;
                            width: 100%;
                            height: 114px;
                            font-family: 'Roboto', sans-serif;
                            font-size: 12px;
                            line-height: 1.2;
                            color: #919699;
                            background-color: color('white');
                            border: solid 2px rgba(65, 145, 117, 0.53);
                            resize: none;
                        }
                        .form_input_checkbox,
                        input[type="checkbox"]{
                            display: none;
                        }
                        .form_label_checkbox{
                            position: relative;
                            display: inline-block;
                            padding: 4.5px 0;
                            margin-left: 39px;
                            font-size: 12px;
                            line-height: 1.2;
                            letter-spacing: 0.8px;
                            cursor: pointer;
                            
                            &:before{
                                content: "";
                                position: absolute;
                                top: 0px;
                                left: -39px;
                                width: 19px;
                                height: 19px;
                                border: solid 2px color('green');
                                -webkit-transition: all ease 0.4s;
                                -o-transition: all ease 0.4s;
                                transition: all ease 0.4s;
                            }
                            &:after{
                                content: "";
                                position: absolute;
                                top: 6px;
                                left: -34px;
                                width: 15px;
                                height: 11px;
                                background: url(../images/icons/checkbox_icon.svg) 0 0 no-repeat;
                                -webkit-transform: scale(0);
                                    -ms-transform: scale(0);
                                        transform: scale(0);
                                -webkit-transition: all ease 0.2s;
                                -o-transition: all ease 0.2s;
                                transition: all ease 0.2s;
                            }

                            a{
                                font-weight: 700;
                                letter-spacing: 0.6px;
                            }
                        }
                        input[type="checkbox"]:checked + label,
                        input[type="checkbox"]:checked + .form_label_checkbox{
                            &:before{
                                background-color: color('green');
                                -webkit-transition: all ease 0.2s;
                                -o-transition: all ease 0.2s;
                                -webkit-transition: all ease 0.1s;
                                -o-transition: all ease 0.1s;
                                transition: all ease 0.1s;
                            }
                            &:after{
                                -webkit-transform: scale(1);
                                    -ms-transform: scale(1);
                                        transform: scale(1);
                                -webkit-transition: all ease 0.2s;
                                -o-transition: all ease 0.2s;
                                transition: all ease 0.2s;
                            }
                        }
        /* - - - - - - - - - -/ end of section_form - - - - - - - - - - */