	#footer {
		padding-top: 59px;
		padding-bottom: 15px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        background-color: color('brown');
    }
        .footer_container{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-justify-content: space-between;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                    justify-content: space-between;
            margin-bottom: 18px;
        }
        	.footer_left{
        		max-width: 512px;
        		font-size: 14px;
				line-height: 1.79;
				color: #ffffff;
        	}
        		.footer_logo{
        			display: inline-block;
        			margin-bottom: 34px;
        			&>a{
        				color: #FFF;
        			}
        		}
			.footer_right{
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-flex-direction: column;
				    -ms-flex-direction: column;
				        -webkit-box-orient: vertical;
				        -webkit-box-direction: normal;
				        flex-direction: column;
			}
				.social_link{
					-webkit-align-self: flex-end;
					        -ms-flex-item-align: end;
					    align-self: flex-end;
					margin-bottom: 42px;
					font-size: 18px;
					font-weight: 900;
					letter-spacing: 1.2px;
					color: #ffffff;
					
					&:hover{
						color: color('green');	
					}
					
					img{
						vertical-align: middle;
						margin-right: 16px;
					}
				}

				.footer_info{
					display: -webkit-box;
					display: -webkit-flex;
					display: -ms-flexbox;
					display: flex;
					-webkit-justify-content: space-between;
					        -webkit-box-pack: justify;
					            -ms-flex-pack: justify;
					        justify-content: space-between;
					font-size: 14px;
					font-weight: 500;
					line-height: 1.43;
					color: #ffffff;
					
					div:first-child{
						padding-top: 3px;
						max-width: 203px;
						margin-right: 100px;
					}

					div:last-child{
						max-width: 197px;
						line-height: 1.86;
					}
				}
					.footer_tel{
						margin-top: 3px;
						font-size: 20px;
						line-height: 1.65;
						font-weight: 700;
						
						&:hover{
							color: color('green');	
						}
					}

		.footer_copyright{
			font-size: 14px;
			font-weight: 500;
			line-height: 2.79;
			text-align: center;
			color: #ffffff;
		}