//- block vars
footer(id="footer" class=footerClasses)
	.container

		.footer_container#contacts.section

			.footer_left
				// - - - - - - - - - - - - - Footer Logo - - - - - - - - - - - - - - - -

				div.logo.footer_logo
					a(href="index.html") <span class="roboto_bd">EAT</span><span class="roboto_reg">ALL</span>

				// - - - - - - - - - - - - - End of Footer Logo - - - - - - - - - - - - - - - -

				div <div class="roboto_bd">Аналогов данному проекту не существует.</div> Описание данной программы, а также все её наработки находятся на 29 томах нейрофизиологии, биохимии и генетики в единственном экземпляре. Если Вам предлагают купить описание данной программы в виде книги — это <span class="roboto_md">мошенничество.</span>

			.footer_right
				a.social_link(href="javascript:;")
					img(src="images/icons/instagram-logo.svg", alt="")
					|Наш инстаграм
				div.footer_info
					div
						p По вопросам сотрудничества обращаться по телефону:
						p: a.footer_tel(href="tel:79872979597") +7(987) 297-95-97
					div
						p ИП Заздравный В.Е.
						p ИНН: 166 01 696 14 03
						p ОГРНИП: 314 169 009 100 191

		.footer_copyright © EatALL.com Все права защищены 2011-2018