//- block vars
header#header(class=headerClasses)

	section.header_container
		div.container
			// - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - -

			div.logo
				a(href="index.html") <span class="roboto_bd">EAT</span><span class="roboto_reg">ALL</span>

			// - - - - - - - - - - - - - End of Logo - - - - - - - - - - - - - - - -

			//  - - - - - - - - - - - - - Page Navigation - - - - - - - - - - - - - - - -


			nav#primary_nav
				menu#menu.menu
					li
						a(href="#program") О программе
					li.current
						a(href="#participant") Участники
					li
						a(href="#packet") Пакеты
					li
						a(href="#blog") Блог
					li
						a(href="#contacts") Контакты

				//  - - - - - - - - - - - - - Authorize - - - - - - - - - - - - - - - -

				a.header_authorize(href="javascript:;") Вход / Регистрация


				//  - - - - - - - - - - - - - End of Authorize - - - - - - - - - - - - - - - -

			.js-btn-menu
				span

			//  - - - - - - - - - - - - - End of Page Navigation - - - - - - - - - - - - - - - -

			//  - - - - - - - - - - - - - Authorize - - - - - - - - - - - - - - - -

			a.header_authorize(href="javascript:;") Вход / Регистрация


			//  - - - - - - - - - - - - - End of Authorize - - - - - - - - - - - - - - - -
