extends ../pug/templates/main

block vars
	- var title = "Главная страница";
	//- // - var headerClasses = ['header1'];
	//- // - var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница


//- Content Start     ============================================


block content

	// Content Start     ============================================

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - -

		section(class="first_screen" style="background-image: url(images/bg-first.jpg);")
			div.container
				.first_screen_text
					h3.first_screen_title Мы эксперты в вопросах
						span.color_green восстановления организма

					a.btn_green.btn_size2.btn_shadow(href="#") Настроить программу

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - -

		// - - - - - - - - - - - - - section_about - - - - - - - - - - - - - - - -

		section#program.section.section_about.bg_green-lite.indent_box
			div.container
				ul.statistics_list
					li
						h2.statistics_title 11
							span ЛЕТ
						h6.statistics_subtitle Глубоких исследований
					li
						h2.statistics_title 36
							span ЧАСОВ
						h6.statistics_subtitle до первых результатов
					li
						h2.statistics_title 30
							span минут
						h6.statistics_subtitle длится настройка программы

				h2.about_title.al_center О программе

				ul.accordion-box
					li.accordion-item.js-accordion-item
						img.accordion-icon(src="images/icons/shape.svg", alt="")
						h5.accordion-title Индивидуальный подбор витаминов с учетом более 1 500 параметров
						p Установите для себя любой режим питания (строгий/свободный). Программа начнёт восстанавливать обмен веществ в любом режиме уже с первых дней её использования, устраняя истинную причину набора лишних килограммов.

					li.accordion-item.js-accordion-item
						img.accordion-icon(src="images/icons/shape (1).svg", alt="")
						h5.accordion-title Абсолютно безопасно для здоровья
						p Установите для себя любой режим питания (строгий/свободный). Программа начнёт восстанавливать обмен веществ в любом режиме уже с первых дней её использования, устраняя истинную причину набора лишних килограммов.

					li.accordion-item.js-accordion-item
						img.accordion-icon(src="images/icons/shape (2).svg", alt="")
						h5.accordion-title Совместимость с любой диетой и режимом питания
						p Установите для себя любой режим питания (строгий/свободный). Программа начнёт восстанавливать обмен веществ в любом режиме уже с первых дней её использования, устраняя истинную причину набора лишних килограммов.

					li.accordion-item.js-accordion-item
						img.accordion-icon(src="images/icons/shape (3).svg", alt="")
						h5.accordion-title Персональный специалист по работе с программой восстановления
						p Установите для себя любой режим питания (строгий/свободный). Программа начнёт восстанавливать обмен веществ в любом режиме уже с первых дней её использования, устраняя истинную причину набора лишних килограммов.

				div.al_center: a.btn_green_invert(href="javascript:;") Зарегистрироваться

		// - - - - - - - - - - - - - End of section_about - - - - - - - - - - - - - - - -

		// - - - - - - - - - - - - - section_partaker - - - - - - - - - - - - - - - -

		section#participant.section.section_partaker.indent_box_2
			.container
				h2.about_title.al_center Участники

				.js-slider.owl-carousel
					.card_partaker
						.card_partaker_img: img(src="images/yoga-girls-personalization@2x.jpg", alt="")
						.card_partaker_description
							a(href="javascript:;")
								img(src="images/icons/vk_icon.svg", alt="")
								| Иванова Вероника
					.card_partaker
						.card_partaker_img: img(src="images/yoga-girls-personalization@2x1.jpg", alt="")
						.card_partaker_description
							a(href="javascript:;")
								img(src="images/icons/vk_icon.svg", alt="")
								| Петров Степан
					.card_partaker
						.card_partaker_img: img(src="images/yoga-girls-personalization@2x2.jpg", alt="")
						.card_partaker_description
							a(href="javascript:;")
								img(src="images/icons/vk_icon.svg", alt="")
								| Сидорова Екатерина
					.card_partaker
						.card_partaker_img: img(src="images/yoga-girls-personalization@2x3.jpg", alt="")
						.card_partaker_description
							a(href="javascript:;")
								img(src="images/icons/vk_icon.svg", alt="")
								| Степанов Антон
					.card_partaker
						.card_partaker_img: img(src="images/yoga-girls-personalization@2x.jpg", alt="")
						.card_partaker_description
							a(href="javascript:;")
								img(src="images/icons/vk_icon.svg", alt="")
								| Иванова Вероника
					.card_partaker
						.card_partaker_img: img(src="images/yoga-girls-personalization@2x1.jpg", alt="")
						.card_partaker_description
							a(href="javascript:;")
								img(src="images/icons/vk_icon.svg", alt="")
								| Петров Степан

		// - - - - - - - - - - - - - End of section_partaker - - - - - - - - - - - - - - - -

		// - - - - - - - - - - - - - section_packet - - - - - - - - - - - - - - - -

		section#packet.section.section_packet.bg_green.indent_box_3
			.container
				.section_packet_left
					h2.packet_title Пакеты
					p.packet_subtitle Программа предназначена для:
					ul.packet_list
						li — детей от 6 месяцев до 12 лет <span>(использование программы детям до 6 месяцев категорически запрещено)</span>
						li — подростков от 12 до 16 лет
						li — взрослых
						li — а также для беременных и кормящих
					a.btn_white.btn_shadow(href="javascript:;") Зарегистрироваться
				.section_packet_right
					.packet_ticket
						h4.packet_ticket_title Для взрослых
						.packet_ticket_box.js-tabs
							ul.packet_months_list.js-tabs-list
								li 1 месяц
								li 6 месяцев
								li 12 месяцев
							.js-tabs-box
								div
									.packet_months_price
										| 2 999
										span
											span р
											span /мес
								div
									.packet_months_price
										| 3 000
										span
											span р
											span /мес
								div
									.packet_months_price
										| 3 001
										span
											span р
											span /мес

						ul.packet_ticket_list
							li Индивидуальная программа питания
							li Персональная поддержка 24/7
							li Доступ

					.packet_ticket
						h4.packet_ticket_title Для детей
						.packet_ticket_box.js-tabs
							ul.packet_months_list.js-tabs-list
								li 1 месяц
								li 6 месяцев
								li 12 месяцев
							.js-tabs-box
								div
									.packet_months_price
										| 1 999
										span
											span р
											span /мес
								div
									.packet_months_price
										| 2 000
										span
											span р
											span /мес
								div
									.packet_months_price
										| 2 001
										span
											span р
											span /мес

						ul.packet_ticket_list
							li Индивидуальная программа питания
							li Персональная поддержка 24/7
							li Доступ

		// - - - - - - - - - - - - - End of section_packet - - - - - - - - - - - - - - - -

		// - - - - - - - - - - - - - section_article - - - - - - - - - - - - - - - -

		section#blog.section.section_article.indent_box_4
			.container
				h2.al_center Полезные статьи
				.article_box
					figure.article_item
						a.article_img(href="javascript:;"): img(src="images/bitmap1.jpg", alt="")
						figcaption
							h6.article_title: a(href="javascript:;") Чем опасны препараты снижающие холестерин?
							.article_date-see
								time(datetime="2018-03-12") 12 марта 2018
								a.eye_watch(href="javascript:;")
									img(src="images/icons/eye.svg", alt="")
									| 1205
							p.roboto_md: a(href="javascript:;") Читать…

					figure.article_item
						a.article_img(href="javascript:;"): img(src="images/bitmap2.jpg", alt="")
						figcaption
							h6.article_title: a(href="javascript:;") Рекомендации по работе с детским меню.
							.article_date-see
								time(datetime="2018-03-12") 12 марта 2018
								a.eye_watch(href="javascript:;")
									img(src="images/icons/eye.svg", alt="")
									| 1205
							p.roboto_md: a(href="javascript:;") Читать…

					figure.article_item
						a.article_img(href="javascript:;"): img(src="images/bitmap3.jpg", alt="")
						figcaption
							h6.article_title: a(href="javascript:;") Баня как усилитесь растворения холестерина и другой грязи.
							.article_date-see
								time(datetime="2018-03-12") 12 марта 2018
								a.eye_watch(href="javascript:;")
									img(src="images/icons/eye.svg", alt="")
									| 1205
							p.roboto_md: a(href="javascript:;") Читать…

				.al_center
					a.btn_green_invert.btn_shadow2.btn_size(href="javascript:;") Все статьи

		// - - - - - - - - - - - - - End of section_article - - - - - - - - - - - - - - - -

		// - - - - - - - - - - - - - section_form - - - - - - - - - - - - - - - -

		section.section_form
			.container

				form.form_box
					h3.form_title Напишите нам
					h6.form_subtitle У Вас есть вопросы о работе программы? <br>Наш специалист готов ответить на Ваши вопросы

					.form_row
						input.form_input(type="text" placeholder='Ваше имя')
					.form_row
						input.form_input(type="text" placeholder='Ваш E-mail')
					.form_row
						textarea.form_textarea(placeholder="Напишите свой вопрос…")
					.form_row.form_checkbox
						input#checkbox.form_input_checkbox(type="checkbox")
						label.form_label_checkbox(for="checkbox") Я согласен с условиями обработки <a href="javascript:;">персональных данных</a>
					.form_row.form_button
						//- a.btn_green_invert(href="javascript:;") Отправить
						button.btn_green_invert Отправить

		// - - - - - - - - - - - - - End of section_form - - - - - - - - - - - - - - - -

	// Content End       ============================================


//- Content End       ============================================